
body{
    margin: 10px;
}
.BOX{
    background-color: aqua;
    color: black;
    width: 180px;
    height: 90px;
    float: left;
    margin: 30px;
}
.STC{
    clear: left;
    background-color: bisque;
    color: black;
    
}
